.welcome-img,
.back-img,
.back-img1,
.back-img2,
.back-img3,
.back-img4,
.back-img5,
.back-img6,
.back-img7,
.back-img8 {
  position: relative;
  &::before {
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
}
.welcome-img {
  &::before {
    background-image: url("../images/background-img/web-1.jpg");
    opacity: 0.5;
  }
}
.rel {
  position: relative;
}
.back-img {
  &::before {
    background-image: url("../images/background-img/web-2.jpg");
    opacity: 0.35;
    background-position: 50% 100%;
  }
}
.back-img1 {
  &::before {
    background-image: url("../images/background-img/web-3.jpg");
    opacity: 0.4;
    background-position: 50% 60%;
  }
}
.back-img2 {
  &::before {
    background-image: url("../images/background-img/web-4.jpg");
    opacity: 0.3;
    background-position: 50% 70%;
  }
}
.back-img3 {
  &::before {
    background-image: url("../images/background-img/web-5.png");
    opacity: 0.45;
  }
}
.back-img4 {
  background-repeat: no-repeat;

  &::before {
    background-image: url("../images/background-img/web-6.jpg");
    opacity: 0.4;
  }
}
.back-img5 {
  background-repeat: no-repeat;

  &::before {
    background-image: url("../images/background-img/web-7.jpg");
    opacity: 0.45;
  }
}
.back-img6 {
  background-repeat: no-repeat;
  position: relative;
  &::before {
    background-image: url("../images/background-img/web-8.jpg");
    opacity: 0.4;
  }
}
.back-img7 {
  background-repeat: no-repeat;
  &::before {
    background-image: url("../images/background-img/web-9.jpg");
    background-position: 50% 20%;
    opacity: 0.4;
  }
}
.back-img8 {
  &::before {
    background-image: url("../images/background-img/web-10.jpg");
    opacity: 0.55;
    background-position: 50% 78%;
  }
}
.back-color4 {
  background: rgb(200, 37, 7);
  background: linear-gradient(
    180deg,
    rgb(107, 18, 3) 33%,
    rgba(176, 21, 10, 0.85) 84%
  );
}
.back-color3 {
  background: rgb(31, 52, 74);
  background: linear-gradient(
    180deg,
    rgba(31, 52, 74, 1) 33%,
    rgba(11, 33, 59, 1) 58%,
    rgba(0, 0, 0, 0.85) 84%
  );
}
.back-color {
  background: rgb(232, 152, 4);
  background: linear-gradient(184deg, rgb(232, 152, 4) 38%, rgb(244, 169, 72))
      47%,
    rgb(193, 147, 62) 61%;
}
.back-color1 {
  background: rgb(128, 0, 0);
  background: linear-gradient(
    184deg,
    rgba(128, 0, 0, 1) 21%,
    rgba(128, 0, 0, 1) 57%,
    rgba(0, 0, 0, 1) 91%
  );
}
.back-color2 {
  background: rgb(167, 167, 18);
  background: linear-gradient(
    184deg,
    rgba(167, 167, 18, 1) 21%,
    rgb(137, 142, 40) 57%,
    rgba(0, 0, 0, 1) 87%
  );
}
.brc {
  background: rgb(244, 146, 163);
  background: linear-gradient(
    180deg,
    rgba(244, 146, 163, 1) 21%,
    rgb(146, 71, 83) 57%,
    rgba(0, 0, 0, 1) 91%
  );
}
.isk {
  background: rgb(110, 193, 237);
  background: linear-gradient(
    180deg,
    rgba(110, 193, 237, 1) 17%,
    rgba(47, 168, 233, 1) 43%,
    rgba(0, 0, 0, 1) 91%
  );
}
.dan {
  background: rgb(109, 8, 8);
  background: linear-gradient(
    180deg,
    rgb(109, 8, 8) 19%,
    rgb(143, 8, 8) 33%,
    rgb(24, 24, 24) 93%
  );
}
.spo {
  background: rgb(115, 254, 31);
  background: linear-gradient(
    180deg,
    rgba(115, 254, 31, 0.7977241922159488) 19%,
    rgba(156, 254, 96, 0.8145309149050245) 71%,
    rgba(0, 0, 0, 1) 93%
  );
}
.oav {
  background: rgb(92, 28, 149);
  background: linear-gradient(
    180deg,
    rgba(92, 28, 149, 1) 19%,
    rgba(55, 17, 89, 1) 66%,
    rgba(0, 0, 0, 1) 93%
  );
}

.pge {
  background: rgb(43, 186, 148);
  background: linear-gradient(
    180deg,
    rgba(43, 186, 148, 1) 28%,
    rgba(0, 106, 78, 1) 73%,
    rgba(0, 0, 0, 1) 94%
  );
}
.pv {
  background: rgb(0, 145, 147);
  background: linear-gradient(
    180deg,
    rgba(0, 145, 147, 1) 28%,
    rgba(0, 96, 97, 1) 76%,
    rgba(0, 0, 0, 1) 94%
  );
}
.mco {
  background: rgb(95, 13, 13);
  background: linear-gradient(135deg, rgb(74, 19, 19) 10%, rgb(47, 47, 47) 83%);
}
.vas {
  background: rgb(255, 14, 14);
  background: linear-gradient(
    180deg,
    rgba(255, 14, 14, 1) 27%,
    rgba(195, 0, 0, 1) 76%,
    rgba(0, 0, 0, 1) 94%
  );
}
.cc {
  background: rgb(123, 154, 109);
  background: linear-gradient(
    180deg,
    rgba(123, 154, 109, 1) 27%,
    rgba(106, 135, 93, 1) 76%,
    rgba(0, 0, 0, 1) 94%
  );
}
.bdc {
  background: rgb(35, 37, 78);
  background: linear-gradient(
    180deg,
    rgba(35, 37, 78, 1) 27%,
    rgba(56, 58, 123, 1) 76%,
    rgba(0, 0, 0, 1) 94%
  );
}
.evr {
  background: rgb(255, 172, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 172, 0, 1) 39%,
    rgba(155, 104, 0, 1) 76%,
    rgba(0, 0, 0, 1) 94%
  );
}

.contact-form {
  background: none;

  border-radius: 10px;
}
.cf {
  background: rgb(42, 41, 39);
  background: linear-gradient(285deg, rgb(103, 14, 14) 5%, rgb(31, 28, 35) 60%);
}
.wmh {
  background: rgb(36, 38, 90);
  background: linear-gradient(
    180deg,
    rgb(36, 38, 90) 0%,
    rgb(26, 27, 57) 43%,
    rgb(36, 36, 36) 94%
  );
}
.ui {
  background: rgb(36, 36, 36);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 1) 0%,
    rgb(101, 8, 8) 100%
  );
}
.cc1 {
  background: rgb(0, 123, 49);
  background: linear-gradient(135deg, rgb(94, 0, 46) 00%, rgb(10, 0, 59) 100%);
}
.cc2 {
  background: rgb(10, 0, 59);
  background: radial-gradient(circle, rgb(31, 77, 112) 0%, rgb(36, 18, 72) 70%);
}
.colab {
  background: rgb(78, 18, 147);
  background: linear-gradient(
    180deg,
    rgba(25, 8, 83, 0.5) 0%,
    rgb(24, 60, 57) 2%,
    rgba(107, 15, 106, 0.7) 100%
  );
}
.testim {
  background: rgb(1, 86, 84);
  background: linear-gradient(
    189deg,
    rgb(2, 67, 83) 21%,
    rgba(122, 122, 122, 0.8) 47%,
    rgb(1, 38, 37) 87%
  );
}
.brc1 {
  background: rgb(17, 59, 81);
}
.brc2 {
  background: rgb(1, 52, 80);
  background: linear-gradient(
    90deg,
    rgba(1, 52, 80, 0.75) 19%,
    rgba(6, 107, 114, 0.75) 53%,
    rgba(1, 52, 80, 0.75) 93%
  );
}
/* .bl {
  background: rgb(73, 61, 0);
  background: linear-gradient(
    20deg,
    rgba(73, 61, 0, 1) 19%,
    rgb(101, 90, 31) 53%,
    rgba(73, 61, 0, 1) 93%
  );
} */
.hci1 {
  background: rgb(158, 20, 21);
  background: linear-gradient(
    90deg,
    rgba(69, 7, 7, 0.75) 19%,
    rgba(192, 33, 33, 0.75) 53%,
    rgba(69, 7, 7, 0.75) 93%
  );
}
.hci2 {
  background: rgb(158, 20, 21);
  background: linear-gradient(
    90deg,
    rgba(48, 6, 6, 0.75) 19%,
    rgba(141, 25, 25, 0.75) 53%,
    rgba(48, 6, 6, 0.75) 93%
  );
}
.blogs {
  background: rgb(54, 54, 54);
  background: linear-gradient(
    180deg,
    rgba(95, 4, 117, 0.87) 58%,
    rgba(5, 8, 89, 0.85) 84%
  );
}
.leadership {
  background: rgb(89, 7, 7);
  background: linear-gradient(
    150deg,
    rgb(89, 7, 7) 27%,
    rgb(166, 0, 0) 60%,
    rgb(89, 7, 7) 78%
  );
}
.admin {
  background: rgb(20, 20, 111);
  background: linear-gradient(
    90deg,
    rgb(20, 20, 111) 20%,
    rgb(35, 35, 149) 30%,
    rgb(20, 20, 111) 68%
  );
}
.media {
  background: rgb(88, 67, 1);
  background: linear-gradient(
    180deg,
    rgb(38, 42, 114) 0%,
    rgb(172, 106, 40) 40%,
    rgb(33, 21, 87) 80%
  );
}
.webdev {
  background: rgb(45, 110, 156);
  background: linear-gradient(
    180deg,
    rgb(33, 21, 87) 0%,
    rgb(4, 176, 136) 75%,
    rgb(105, 4, 141) 100%
  );
}
.volunteer-section {
  background: rgb(49, 49, 49, 110, 156);
  background: linear-gradient(180deg, rgb(105, 4, 141) 0%, rgb(45, 45, 45) 70%);
}
